@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>THe SMTP URL  is : @ViewBag.SMTP_URL</p>
    <p>THe EMAIL ID is : @ViewBag.SMTP_EMAIL</p>
    <p>THe Secret is : @ViewBag.Secret</p>
    <p>THe Secret is : @ViewBag.URI</p>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>